.container.user {
  padding-top: 10px;
  display: flex;
  min-height: 100vh;
}

.group-user {
  width: 100%;
  margin-top: 140px;
  display: flex;
  gap: 20px;
}

.right-user {
  position: relative;
  z-index: 2;
  width: 25%;
  height: 900px;
}

.right-user .sidebar {
  display: flex;
  border: 1px #5ECD7F;
  border-radius: 15px;
}

/* a.nav-link{
 
  color: black;
} */


.left-user {
  width: 75%;
  z-index: 2;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.left-user .content-item {
  background-color: #ffffff;
  padding: 20px;
  border: 1px #5ECD7F;
  border-radius: 15px;
}

.content-item .title-edit {
  display: flex;
  gap: 8px;
}

.title-edit h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;

}

.title-edit .wrap-svg {
  padding: 6px;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}

.left-user .content {
  display: flex;
  gap: 36px;
}

.left-user .content .avatar-box {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.avatar-box .has-edit {
  cursor: pointer;
}

.avatar--xl {
  width: 148px;
  height: 148px;
  line-height: 148px;
}

.info-user h6 {
  font-size: 1.25rem;
  font-weight: 600;
}

.info-desc {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
}

.info-desc__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 4px;
  gap: 50px;
}

.info-desc__item .title-item {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
  font-size: .75rem;
  font-weight: 500;
  color: #6f6f6f;
}

.note.success {
  background: #cff1db;
}

.info-desc__item .title-item .note {
  display: flex;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 100px;
  font-size: .625rem;
  font-weight: 500;
  color: #262626;
}

.desc-car .note {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 110px;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 100px;
  font-size: .625rem;
  font-weight: 500;
  color: #262626;
}

.info-desc__item .name {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
}

.container .content-account .driver-license {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
}

.driver-license .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 8px;
  gap: 8px;
}

.driver-license .title .title-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 8px;
  gap: 8px;
}

.title-item h6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
}

.content-item {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
}

.driver-license .title .title-item__info.error {
  background: #ffd0cd;
}

.driver-license .title .title-item__info {
  display: flex;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
  padding: 4px 6px;
  border-radius: 100px;
  font-size: .625rem;
  font-weight: 500;
  color: #262626;
}

.driver-license .title .btn {
  font-size: .75rem;
}

.btn.btn--s {
  padding: 12px 20px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  background-color: initial;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  color: #ffffff;
  font-weight: 700;
  padding: 8px 16px;
  background-color: #5ECD7F;
  border-radius: 8px;
}

.driver-license .note-license {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 8px;
  background-color: #ffd0cd;
}

.driver-license .note-license p {
  font-size: 12px;
  margin-bottom: 0;
  color: #f04438;
}

.info-license {
  width: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
}

.content-account .driver-license .content .info-license {
  width: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
}

.info-license__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.driver-license .content .info-license__img .fix-img {
  padding-bottom: 65%;
  border-radius: 16px;
}

.info-license__img .fix-img-content {
  border-radius: 16px;
}

.fix-img-content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.fix-img-content img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.info-license__title p {
  font-weight: 600;
}

.custom-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
  gap: 6px;
}

.info-license .custom-input .wrap-info {
  align-items: center;
}

.title-status p {
  font-size: .875rem;
  font-weight: 700;
  color: #767676;
  margin: 0;
}

.css-1umw9bq-MuiSvgIcon-root {
  position: relative;
  left: 150px;
}


.custom-input .wrap-input.disabled {
  border-color: #f6f6f6;
  background: #f6f6f6;
}

.custom-input .wrap-input {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 12px;
  border: 1px solid #d8dae5;
  background: #fff;
}

.borderRadius-main,
.custom-input .wrap-input {
  border-radius: 8px;
}

.wrap-text input {
  border: none !important;
  background: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-opacity: 1;
  color: #333;
  -webkit-text-fill-color: #333;
  cursor: default;
}


/* sidebar */
.nav-link {
  color: #6c757d;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-pills .nav-link {
  display: flex;
  gap: 8px;
  padding: 16px;
}

.nav-link.logout {
  color: #f04438 !important;
}

.nav-link.logout:hover {
  color: #f04438 !important;
}

/* Định dạng cho menu hoạt động */
.active1 {
  background-color: #5FCF86 !important;
  /* Màu nền xanh Bootstrap */
  color: #ffffff !important;
}

.nav-item {
  margin-top: 5px;
}

/* user_favorite */
.card-car {
  display: flex;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.item-box {
  grid-gap: 16px;
  gap: 16px;
  flex-direction: row;
}

.card-car .item-box {
  display: flex;
  width: 100%;
  grid-gap: 32px;
  gap: 32px;
  border-radius: 12px;
}

.item-box .img-car .car-img {
  width: 250px;
}

.img-car .car-img {
  padding-bottom: 75%;
  border-radius: 10px;
}

.car-img {
  position: relative;
  max-width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.car-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-box .desc-car {
  width: calc(100% - 455px);
}

.item-box .desc-car .days .desc-days .form-item {
  padding: 0px;
  gap: 6px;
}

.item-box .desc-car .days .desc-days .form-item span {
  margin: 0px;

}

.item-box .desc-car {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-box .desc-car .desc-tag {
  display: flex;
  flex-wrap: wrap;
}

.item-box .desc-car .desc-name {
  display: flex;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
  margin-bottom: 4px;
}

.item-box .desc-car .desc-name p {
  color: #000;
  font-size: 1rem;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-box .desc-car .desc-info {
  display: flex;
  align-items: center;
  color: #767676;
  font-size: .75rem;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 12px;
}

.item-box .desc-car .desc-address-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  color: #767676;
  font-size: .75rem;
  font-weight: 500;
  line-height: 16px;
}

.item-box .desc-car .desc-address-price .address {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-gap: 4px;
  gap: 4px;
}

.item-box .desc-car .desc-address-price .address p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.card-car .profile {
  justify-content: center;
  align-items: center;
}

.item-box .profile {
  position: relative;
  padding-left: 16px;
  border-left: 1px solid #e0e0e0;
  width: 170px;
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  gap: 8px;
}

.item-box .profile .avatar {
  margin: 0 auto 12px;
}

.item-box .profile .price {
  display: flex;
  align-items: baseline;
  grid-gap: 4px;
  gap: 4px;
}

.item-box .profile .price span.price-origin {
  font-size: 1.25rem;
  font-weight: 600;
  color: #aaa;
  text-decoration: line-through;
}

.item-box .profile .price span.price-special {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
}

.item-box .profile .price span {
  font-size: .875rem;
  font-weight: 500;
  color: #767676;
}

/* Change_password */
.content-account {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
  width: calc(70% - 20px);
}

.content-account .title {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
  width: calc(70% - 20px);
}

.content-account .title .title-edit {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  gap: 4px;
}

.content-account .title .title-edit p {
  font-size: 14px;
}

.content-account .change-pw .content {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  gap: 12px;
}

.custom-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
  gap: 6px;
}

.custom-input .wrap-info {
  display: flex;
  justify-content: space-between;
}

.custom-input .wrap-input {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
  padding: 12px;
  border: 1px solid #d8dae5;
  background: #fff;
}

.custom-input .wrap-input .wrap-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.custom-input .wrap-input .wrap-text input {
  display: inline-block;
  background-color: initial;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #242420;
  font-family: "Manrope", "Encode Sans Expanded", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border: none;
  box-shadow: none;
}

.content-account .change-pw .content .apply-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  margin-top: 12px;
}

/* note: user_GPLX */
.img-license-edit {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  width: 100%;
}

.has-edit {
  cursor: pointer;
}


/* note: user_car  */

.title-edit {
  display: flex;
  justify-content: space-between;
}

.filter-status {
  display: flex;
  gap: 8px;
  align-items: center;
}

.filter-status p {
  margin: 0px;
  padding: 0;
  width: 150px;
}

.custom-select {
  position: relative;
}

.custom-select:before {
  content: url(../../assets/arrow-down.d8b3609e.svg);
  position: absolute;
  right: 12px;
  top: 20px;
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.custom-select select {
  cursor: pointer;
  padding: 12px 36px 12px 12px;
  width: 100%;
  font-size: 1rem;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  font-weight: 600;
}