.group-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px 5px 15px;
}

.group-title h5 {
  font-size: 1.5rem;
  font-weight: 600px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  max-height: calc(100dvh - 60px);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-date-time {
  display: flex;
}

.form-date-time .col {
  padding: 5px;
}

.form-date-time .col .date-picker {
  padding: 5px;
}

/* css materiul form */
.css-1rv8zyt-MuiStack-root {
  display: flex !important;
  flex-direction: row !important;
  border: 1px solid #e0e0e0 !important;
  border-radius: 15px;
}

.MuiStack-root.css-11a8txn-MuiStack-root {
  margin-top: 0px !important;
}

.css-qct7wd-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: none !important;
}

.modal-body {
  max-height: calc(100dvh - 225px);
}

.modal-body {
  max-height: calc(90dvh - 145px);
  overflow-x: hidden;
  overflow-y: auto;
  margin: 24px 24px 0px 24px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
  padding: 0px 24px 24px 24px !important;

}

.modal-confirm .modal-confirm-body {
  display: flex;
  grid-gap: 16px;
  gap: 16px;
  flex-direction: column;
}

.modal-confirm-body {
  display: flex;
  grid-gap: 16px;
  gap: 16px;
  flex-direction: column;
}

.none-label {
  width: 100%;
}

.carfinding-options-body .vehicle-types {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
  gap: 12px;
}

.carfinding-options-body .vehicle-types .custom-checkbox-selected {
  width: calc(25% - 9px);
  height: 145px;
}

.carfinding-options-body .vehicle-types .custom-checkbox-selected label {
  padding: 0;
  height: 100%;
}

.carfinding-options-body .vehicle-types__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
}

.carfinding-options-body .vehicle-types__item--img img {
  width: 65px;
}



label.none-label::after {
  background: none !important;
  /* Loại bỏ background của pseudo-element */
}

.carfinding-options-body .vehicle-types__item p.name {
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.time-choose {
  display: flex;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
  width: 100%;

}

.time-choose__item {
  position: relative;
  border: 1px solid #e0e0e0;
  width: 100%;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #fff;
}

.time-choose__item .title-time {
  font-size: 12px;
  font-weight: 700;
  color: #666;
  margin: 0;
}

.time-choose__item .active-time {
  position: relative;
  font-weight: 600;
  margin: 0;
}

.time-choose__item .active-time:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../../assets/arrow-down.d8b3609e.svg);
  width: 24px;
  height: 24px;
}

.time-choose .time-choose__item .dropdown-time {
  background: #fff;
  z-index: 10;
}

.time-choose__item .dropdown-time {
  position: absolute;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 12px;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
  max-height: 173px;
  overflow: auto;
  background-color: #fff;
  z-index: 1;
}

.address .dropdown-time {
  position: absolute;
  width: 46%;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 12px;
  left: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  gap: 16px;
  max-height: 173px;
  overflow: auto;
  background-color: #fff;
  z-index: 1;
}

.custom-radio {
  position: relative;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  width: auto;
  box-shadow: none;
}

input:disabled {
  background-color: #f6f6f6;
  color: #333;
  -webkit-text-fill-color: #333;
  -webkit-opacity: 1;
}

/* dropdown cho time */

.dropdown-time {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  transform: translateY(-10px);
  /* Trượt lên phía trên một chút */
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  /* Vô hiệu hóa khi ẩn */
}

.dropdown-time.show {
  opacity: 1;
  transform: translateY(0);
  /* Trở về vị trí ban đầu */
  pointer-events: auto;
  /* Kích hoạt khi hiển thị */
}

.custom-radio label {
  width: 100%;
  padding-left: 25px;
}


.custom-checkbox-indeterminate label:after,
.custom-checkbox-selected label:after,
.custom-radio label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background: url("https://www.mioto.vn/static/media/radio.dd1a24ad.svg") 0 0 no-repeat;
  width: 16px;
  height: 16px;
}

.custom-checkbox-indeterminate input[type=radio]:checked+label:after,
.custom-checkbox-selected input[type=radio]:checked+label:after,
.custom-radio input[type=radio]:checked+label:after {
  background-position: -16px 0;
}


.custom-checkbox-indeterminate label:after,
.custom-checkbox-selected label:after,
.custom-radio label:after :hover {
  background-color: red;
}

.modal-footer {
  display: block !important;
  border-top: 1px solid #e0e0e0;
  padding: 16px 24px;
  background: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: -1px -5px 29px rgba(0, 0, 0, .1);
  width: 100%;
  padding: 16px 24px !important;
}

.modal-input-body {
  width: 600px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
}

.info-time {
  display: flex;
  grid-gap: 8px;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.info-time__item .time {
  font-weight: 600;
  margin-bottom: 0;
}

.info-time__item .total {
  font-size: 14px;
}

.fontWeight-6.text-primary {
  color: #5fcf86 !important;
  font-weight: 600;
}


/* note:payment.css */


.inputBox span {
  color: black;
}

/* note: loading */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F5FFFA;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.time-avail {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  gap: 4px;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: #f3f2f2;
}

.time-avail p {
  margin: 0px !important;
}

.custom-radio-voucher label {
  color: #333;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  align-items: flex-start;
  grid-gap: 8px;
  gap: 8px;
  padding-left: 24px;
}

.promo-text-main {
  display: flex;
  gap: 5px;
}

.promo-text-main p {
  margin: 0px !important;
}

.add-promotion {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
  gap: 24px;
}

.add-promotion__item {
  display: flex;
  grid-gap: 8px;
  gap: 8px;
}

.add-promotion__item .date.warning {
  color: #f79009;
}



.add-promotion__item .date {
  display: flex;
  align-items: center;
  font-size: .75rem;
  line-height: 12px;
  font-weight: 500;
  grid-gap: 4px;
  gap: 4px;
  color: #767676;
}

.promotion-info p {
  margin: 0px;
}

.add-promotion__item .btn {
  margin: 0 0 0 auto;
  height: -webkit-min-content;
  height: min-content;
}

/* note: pagination */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px;
}

.pagination a {
  text-decoration: none;
  color: inherit;
}

.pagination li {
  margin: 10px;
  cursor: pointer;

}

.pagination li.active {
  font-weight: bold;
  color: white;
  background-color: #5fcf86;
  padding: 5px 10px;
  border-radius: 5px;
}

/* note: dành cho bookingcheck */
/* CSS style for booked days */
.booked-day {
  background-color: red !important;
  /* Tô màu nền đỏ */
  color: white !important;
  /* Tô màu chữ trắng */
  cursor: not-allowed !important;
  /* Không cho phép chọn ngày */
}

.booked-day:hover {
  background-color: red !important;
  /* Đảm bảo màu nền đỏ khi hover */
}

/*note: change_price */
.range-value.two-item {
  align-items: center;
  grid-gap: 16px;
  gap: 16px;
}

.range-value {
  display: flex;
}

.range-value__item {
  width: 50%;
}

.range-value__item {
  padding: 8px 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.range-value__item p {
  margin: 0;
}

/* note: brand */
.vehicle-makes {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
  gap: 12px;
}

.carfinding-options-body .vehicle-makes .custom-radio label {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  gap: 8px;
  line-height: 24px;
}

.carfinding-options-body .vehicle-makes .custom-radio label p {
  margin: 0;
}

.carfinding-options-body .vehicle-makes .custom-radio label img {
  width: 24px;
  height: 24px;
}

.carfinding-options-body .vehicle-makes .custom-radio {
  width: calc(50% - 6px);
}

.carfinding-options-body .vehicle-types .custom-checkbox-selected input:checked+label .vehicle-types__item {
  border: 1px solid #5fcf86;
  background: #effaf3;
}


.custom-radio input[type=radio]:checked+label:after {
  background-position: -16px 0;
}

.custom-checkbox-indeterminate input[type=radio]:checked+label:after,
.custom-checkbox-selected input[type=radio]:checked+label:after,
.custom-radio input[type=radio]:checked+label:after {
  background-position: -16px 0;
}


input[type=checkbox],
input[type=radio] {
  position: absolute;
  visibility: hidden;
  width: auto;
  box-shadow: none;
}