.logo img{
  width: 100%;
  max-width: 179px;
  height: 120px;
}
#navbarNav.collapse.navbar-collapse{
  font-size: 22px;
  justify-content: center;
  font-weight: bold;
}
.navbar-nav {
justify-content:space-between ;
gap: 20px;
} 
.navbar-icon{
  background-color:#A2FDBF
   ;
  width:100%;
  max-width: 13rem;
  border: 1px solid;
  border-radius: 19px;
  height: 53px;
  display: flex; 
  justify-content: center; 
  align-items: center; 

}
.navbar-icon a {
  display: flex; /* Sử dụng Flexbox cho thẻ <a> */
  justify-content: center;
  align-items: center; /* Căn giữa cả văn bản và biểu tượng */
  text-decoration: none; /* Xóa gạch chân (tùy chọn) */
}

.navbar-icon i {
  font-size: 1.2rem; /* Kích thước biểu tượng (có thể tùy chỉnh) */
}
i.fa-solid{
  padding: 2px;
  margin-left: 10px;
}