.logo img{
  width: 100%;
  max-width: 179px;
  height: 100px;
}
  .container.header{
    height: 100px;
  }

.navbar.navbar-expand-lg.navbar-light.bg-light{
  width: 100%;
  position: fixed;
  z-index: 9999;
background: #ffffff !important;
}
#navbarNav.collapse.navbar-collapse{
  justify-content: center;
  font-weight: bold;
}
.navbar-nav {
justify-content:space-between ;
font-size: 18px;
gap: 20px;
}
.signin-icon{
  width:100%;
  max-width: 146px;
  border: 1px solid;
  border-radius: 19px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.signin-icon:hover{
  background-color:#A2FDBF;
  transition: cubic-bezier(0.075, 0.82, 0.165, 7);
  cursor: pointer;

}
.signup-icon{
 
  width:100%;
  max-width: 100px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}



/* Login */
.login{
  display: flex;
  width: 100%;
  max-width: 200px;
}

.nav-admin{
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
}
.avatar--s {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.avatar--s img {
border-radius: 100%;
}
.dropdown-profile{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    gap: 12px;
    cursor: pointer;
    padding: 0;
  }
  .dropdown-profile .name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .875rem;
    font-weight: 700;
}