
.group-title {
    display: flex;            
    justify-content: space-between;     align-items: center;     
    width: 100%;        
    padding: 15px;    
  }
.group-title h5{
    font-size: 1.5rem;
    font-weight: 600px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    max-height: calc(100dvh - 80px);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .form-date-time{
    display: flex;
  }
  .form-date-time .col{
    padding: 5px;
  }
  .form-date-time .col .date-picker{
    padding: 5px;
  }

  /* css materiul form */
  .css-1rv8zyt-MuiStack-root{
    display: flex !important;
    flex-direction: row !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 15px;
}
.MuiStack-root.css-11a8txn-MuiStack-root{
    margin-top: 0px !important;
}
.css-qct7wd-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
  border: none !important;
}
.modal-body {
    max-height: calc(100dvh - 225px);
}
 .modal-body {
    max-height: calc(100dvh - 145px);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 24px 24px 0px 24px;
}
.modal-body {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
}
.time-choose {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    width: 100%;
    
}
.time-choose__item {
    position: relative;
    border: 1px solid #e0e0e0;
    width: 100%;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #fff;
}
.time-choose__item .title-time {
    font-size: 12px;
    font-weight: 700;
    color: #666;
    margin: 0;
}   
.time-choose__item .active-time {
    position: relative;
    font-weight: 600;
    margin: 0;
}
.time-choose__item .active-time:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../assets/arrow-down.d8b3609e.svg);
    width: 24px;
    height: 24px;
}

.time-choose .time-choose__item .dropdown-time {
    background: #fff;
    z-index: 10;
}

.time-choose__item .dropdown-time {
    position: absolute;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 12px;
    left: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    max-height: 173px;
    overflow: auto;
    background-color: #fff;
    z-index: 1;
}
.custom-radio {
    position: relative;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
    width: auto;
    box-shadow: none;
}
input:disabled {
    background-color: #f6f6f6;
    color: #333;
    -webkit-text-fill-color: #333;
    -webkit-opacity: 1;
}  
/* dropdown cho time */

  .dropdown-time {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 0;
    transform: translateY(-10px); /* Trượt lên phía trên một chút */
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; /* Vô hiệu hóa khi ẩn */
  }
  
  .dropdown-time.show {
    opacity: 1;
    transform: translateY(0); /* Trở về vị trí ban đầu */
    pointer-events: auto; /* Kích hoạt khi hiển thị */
  }
  .custom-radio label{
    width: 100%;
    padding-left: 25px;
  }


.custom-checkbox-indeterminate label:after, .custom-checkbox-selected label:after, .custom-radio label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    background: url("https://www.mioto.vn/static/media/radio.dd1a24ad.svg") 0 0 no-repeat;
    width: 16px;
    height: 16px;
}
.custom-checkbox-indeterminate label:after, .custom-checkbox-selected label:after, .custom-radio label:after :hover {
  background-color: red;
}
.modal-footer {
    border-top: 1px solid #e0e0e0;
    padding: 16px 24px;
    background: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: -1px -5px 29px rgba(0, 0, 0, .1);
    width: 100%;
    padding: 16px 24px !important;
}
.info-time {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

 .info-time__item .time {
    font-weight: 600;
    margin-bottom: 0;
  }
   .info-time__item .total {
    font-size: 14px;
}
.fontWeight-6.text-primary {
    color: #5fcf86 !important;
    font-weight: 600;
}