/* slider.css */

.container-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
   
  }
  .carousel-inner{
    height: 100%;
    margin-top: 100px;
  }
  .carousel {
    height: 100%;
    max-height: 88vh;
  }
  
  .carousel-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  .carousel-caption {
    position: absolute; /* Giữ caption ở vị trí tuyệt đối trong carousel */
    top: 25%; /* Đặt caption giữa theo chiều dọc */
    color: red;
  }
  .carousel-caption h3 {
    font-size: 70px; 
    color: white;
  }
  .carousel-caption p { 
    font-size: 25px; 
    color: white;
  }

  .carousel-caption hr{
    width: 50%;
    
    margin: 10px auto; /* Tự động căn giữa, 10px khoảng cách phía trên và dưới */
  border: 1px solid white; /* Màu sắc của đường kẻ */
  opacity: 1; 
  height: 5px;
  background-color: white;
  }
  
  


  