body {
    background-color: #f8f9fa;
}

.card {
    border: none;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.modal {
    z-index: 1050; /* Ensure modal is above other elements */
}
